* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/07eaa420d01f58f08f70fbb32a42bea1--san-felipe-guanajuato.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/07eaa420d01f58f08f70fbb32a42bea1--san-felipe-guanajuato.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*contenedor para carrucel*/
.contenedor1{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor1{
    width: 100%;
    display: flex;
}

.contenido-slider1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider1:nth-child(2){
    background: url(../image/fondo-de-pantalla-de-etiqueta-relajante-pagina-4-Arboles-relajantes-cascadas-iceys-1024x576.jpg);
    color: rgb(43, 28, 28);
}

.contenido-slider1:nth-child(3){
    background: url(../image/vargas1.png);
}
.contenido-slider1:nth-child(4){
    background: url(../image/promo1.png);
}
.contenido-slider1:nth-child(1){
    background: url(../img/android-chrome-512x512.png);
}

.contenido-slider1> img{
    width: 500px;
}

.contenido-slider1 > div{
    width: 40%;
}

.contenido-slider1 h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider1 a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider1:nth-child(2) a{
    background: rgb(214, 153, 22);
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider1 > img{
        width: 250px;
    }

    .contenido-slider1 > div{
        width: 40%;
    }

    .contenido-slider1 h2{
        font-size: 23px;
    }
}



@media screen and (max-width:600px){
    .contenido-slider1{
       flex-direction: column-reverse;
    }

    .contenido-slider1 > div{
        width: 80%;
    }

}

/*carrucel bolsa de trabajo*/
.contenedor2{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor2{
    width: 100%;
    display: flex;
}

.contenido-slider2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider2:nth-child(2){
    background: url(../img/fondo.jpg);
    color: rgb(43, 28, 28);
}

.contenido-slider2:nth-child(3){
    background: url(../img/fondo.jpg);
}
.contenido-slider2:nth-child(4){
    background: url(../img/fondo.jpg);
}
.contenido-slider2:nth-child(1){
    background: url(../img/fondo.jpg);
}

.contenido-slider2> img{
    width: 500px;
}

.contenido-slider2 > div{
    width: 40%;
}

.contenido-slider2 h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider2 a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider2:nth-child(2) a{
    background: rgb(214, 153, 22);
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider2 > img{
        width: 250px;
    }

    .contenido-slider2 > div{
        width: 40%;
    }

    .contenido-slider2 h2{
        font-size: 23px;
    }
}



@media screen and (max-width:600px){
    .contenido-slider2{
       flex-direction: column-reverse;
    }

    .contenido-slider2 > div{
        width: 80%;
    }

}
/*carrucel comercio 3*/
.contenedor3{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor3{
    width: 100%;
    display: flex;
}

.contenido-slider3{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider3:nth-child(2){
    background: url(../img/fondo.jpg);
    color: rgb(43, 28, 28);
}

.contenido-slider3:nth-child(3){
    background: url(../img/fondo.jpg);
}
.contenido-slider3:nth-child(4){
    background: url(../img/fondo.jpg);
}
.contenido-slider3:nth-child(1){
    background: url(../img/fondo.jpg);
}

.contenido-slider3> img{
    width: 500px;
}

.contenido-slider3 > div{
    width: 40%;
}

.contenido-slider3 h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider3 a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider3:nth-child(2) a{
    background: rgb(214, 153, 22);
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider3 > img{
        width: 250px;
    }

    .contenido-slider3 > div{
        width: 40%;
    }

    .contenido-slider3 h2{
        font-size: 23px;
    }
}



@media screen and (max-width:600px){
    .contenido-slider3{
       flex-direction: column-reverse;
    }

    .contenido-slider3 > div{
        width: 80%;
    }

}

/*carrucel 4 */
.contenedor4{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor4{
    width: 100%;
    display: flex;
}

.contenido-slider4{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider4:nth-child(2){
    background: url(../img/fondo.jpg);
    color: rgb(43, 28, 28);
}

.contenido-slider4:nth-child(3){
    background: url(../img/fondo.jpg);
}
.contenido-slider4:nth-child(4){
    background: url(../img/fondo.jpg);
}
.contenido-slider4:nth-child(1){
    background: url(../img/fondo.jpg);
}

.contenido-slider4> img{
    width: 500px;
}

.contenido-slider4 > div{
    width: 40%;
}

.contenido-slider4 h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider4 a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider4:nth-child(2) a{
    background: rgb(214, 153, 22);
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider4 > img{
        width: 250px;
    }

    .contenido-slider4 > div{
        width: 40%;
    }

    .contenido-slider4 h2{
        font-size: 23px;
    }
}



@media screen and (max-width:600px){
    .contenido-slider4{
       flex-direction: column-reverse;
    }

    .contenido-slider4 > div{
        width: 80%;
    }

}

/*carrucel 5 */
.contenedor5{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor5{
    width: 100%;
    display: flex;
}

.contenido-slider5{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider5:nth-child(2){
    background: url(../img/fondo.jpg);
    color: rgb(43, 28, 28);
}

.contenido-slider5:nth-child(3){
    background: url(../img/fondo.jpg);
}
.contenido-slider5:nth-child(4){
    background: url(../img/fondo.jpg);
}
.contenido-slider5:nth-child(1){
    background: url(../img/fondo.jpg);
}

.contenido-slider5> img{
    width: 500px;
}

.contenido-slider5 > div{
    width: 40%;
}

.contenido-slider5 h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider5 a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider5:nth-child(2) a{
    background: rgb(214, 153, 22);
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider5 > img{
        width: 250px;
    }

    .contenido-slider5 > div{
        width: 40%;
    }

    .contenido-slider5 h2{
        font-size: 23px;
    }
}



@media screen and (max-width:600px){
    .contenido-slider5{
       flex-direction: column-reverse;
    }

    .contenido-slider5 > div{
        width: 80%;
    }

}

/* carrucel 6 */
.contenedor6{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor6{
    width: 100%;
    display: flex;
}

.contenido-slider6{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider6:nth-child(2){
    background: url(../img/fondo.jpg);
    color: rgb(43, 28, 28);
}

.contenido-slider6:nth-child(3){
    background: url(../img/fondo.jpg);
}
.contenido-slider6:nth-child(4){
    background: url(../img/fondo.jpg);
}
.contenido-slider6:nth-child(1){
    background: url(../img/fondo.jpg);
}

.contenido-slider6> img{
    width: 500px;
}

.contenido-slider6 > div{
    width: 40%;
}

.contenido-slider6 h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider6 a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider6:nth-child(2) a{
    background: rgb(214, 153, 22);
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider6 > img{
        width: 250px;
    }

    .contenido-slider6 > div{
        width: 40%;
    }

    .contenido-slider6 h2{
        font-size: 23px;
    }
}



@media screen and (max-width:600px){
    .contenido-slider6{
       flex-direction: column-reverse;
    }

    .contenido-slider6 > div{
        width: 80%;
    }

}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}